/*
Syntax error: Undefined variable: "$parker".
        on line 95 of scss/style.scss

90: 	@media #{$pym}{
91: 			width:100%;
92: 			top:0;
93: 			text-align: center;
94: 			padding:1.5em 0px;
95: 			/*
96: @media #{$parker}{
97: 				top:8em;
98: 			}
99: *\/
100: 	}

Backtrace:
scss/style.scss:95
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/script/variable.rb:49:in `_perform'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/script/node.rb:40:in `perform'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:398:in `run_interp_no_strip'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:396:in `map'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:396:in `run_interp_no_strip'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:137:in `visit_comment'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:362:in `visit_media'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/engine.rb:262:in `render'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:362:in `update_stylesheet'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin/compiler.rb:235:in `watch'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:455:in `watch_or_update'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:318:in `process_result'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/home/seanooi/.gems/gems/sass-3.2.10/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/home/seanooi/.gems/gems/sass-3.2.10/bin/sass:9
/home/seanooi/.gems/bin/sass:19:in `load'
/home/seanooi/.gems/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$parker\".\A         on line 95 of scss/style.scss\A \A 90: 	@media #{$pym}{\A 91: 			width:100%;\A 92: 			top:0;\A 93: 			text-align: center;\A 94: 			padding:1.5em 0px;\A 95: 			/*\A 96: @media #{$parker}{\A 97: 				top:8em;\A 98: 			}\A 99: */\A 100: 	}"; }
