#staff {
	margin-top: 7em;
}

#staff img{
	display: none;
}

#staff aside {
	max-width: 400px;
	position: absolute;
	padding: 20px;
	background-color: #fff;
}

#staff .meet-staff-button {
	position: absolute;
	left: 0;
	bottom: -3em;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	background: #1f355a;
	color: #fff;
	font-weight: 400;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: none;
}